.wrapper {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top:0;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.popup {
  display: flex;
  position: fixed;
  background: linear-gradient(180deg, #090909 0%, rgba(9, 9, 9, 0) 100%);
  border-radius: 5px;
  min-width: 100px;
  min-height: 100px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.78);
  backdrop-filter: blur(5px);
  width: 770px;
  height: 422px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  z-index: 99;
}
.popup .close {
  position: absolute;
  width: 44px;
  height: 44px;
  top: -54px;
  right: -54px;
  background: url(../../../assets/Popup/icons/close-button.svg) no-repeat;
  background-size: 100%;
  border: initial;
  cursor: pointer;
}
@media (max-width: 854px) {
  .popup .close {
    right: 12px;
  }
}
.popup .content {
  position: relative;
  display: flex;
  padding: 36px 20px 0 31px;
  box-sizing: border-box;
}
.popup .content .header {
  position: relative;
  width: 214px;
  flex: 3 0 214px;
  height: auto;
}
.popup .content .header .title {
  position: relative;
  display: grid;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 67px;
  border-radius: 5px;
  background: #FFC632;
  padding: 0 0 0 35px;
  font-weight: 700;
  font-size: 30px;
  box-sizing: border-box;
  text-transform: uppercase;
}
.popup .content .header .title::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 14px;
  background: #000;
  border-radius: 10px;
}
.popup .content .header .sociallist {
  position: relative;
  margin: 16px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.popup .content .header .sociallist .unit {
  position: relative;
  width: 62px;
  height: 64px;
  background: #272727;
  border-radius: 5px;
}
.popup .content .header .sociallist .unit::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.popup .content .header .sociallist .unit.gmail::after {
  background-image: url(../../../assets/Popup/icons/gmail.svg);
  transform: translate(0, 5px);
}
.popup .content .header .sociallist .unit.vk::after {
  background-image: url(../../../assets/Popup/icons/vk.svg);
  transform: translate(0, 5px);
}
.popup .content .header .sociallist .unit.f::after {
  background-image: url(../../../assets/Popup/icons/f.svg);
  transform: translate(0, 5px);
}
.popup .content .body {
  position: relative;
  width: 100%;
  margin: 0 0 0 21px;
}
.popup .content .body .manage {
  position: relative;
  padding: 0 0 0 19px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  background: none;
}
.popup .content .body .manage .unit {
  color: #6C6C6C;
  margin: 0 35px 0 0;
  text-transform: uppercase;
  cursor: pointer;
}
.popup .content .body .manage .unit:hover {
  color: #FFC632;
}
.popup .content .body .manage .unit.active {
  color: #FFC632;
}
.popup .content .body .form {
  position: relative;
  width: 100%;
  margin: 25px 0 0 0;
}
.popup .content .body .form input {
  position: relative;
  display: block;
  width: 100%;
  height: 45px;
  font-size: 20px;
  font-weight: 500;
  padding: 13px 16px;
  color: #fff;
  border-radius: 5px;
  background: #272727;
  border: initial;
  margin: 0 0 13px 0;
  box-sizing: border-box;
}
.popup .consolePanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 31px 0;
}
.popup .consolePanel .error {
  display: none;
}
.popup .consolePanel button {
  position: relative;
  width: 428px;
  height: 70px;
  border: initial;
  border-radius: 5px;
  background: #FFC632;
  border: 2px #FFC632 solid;
  box-sizing: border-box;
  color: #000;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}
.popup .consolePanel button.waiting {
  cursor: default;
  text-transform: initial;
  background: initial;
  border: 1px solid #6C6C6C;
  color: #6C6C6C;
  font-weight: 400;
}
.popup .consolePanel button:hover {
  color: #FFC632;
  border: 2px #FFC632 solid;
  background: rgba(9, 9, 9, 0);
}
@media (max-width: 641px) {
  .popup {
    width: 600px;
    height: 422px;
  }
  .popup .content {
    padding: 36px 20px 0 24px;
  }
  .popup .content .header {
    display: flex;
    top: initial;
    left: 0;
    flex: initial;
    height: 116%;
    width: 100%;
    flex-direction: column;
    position: absolute;
    justify-content: space-between;
    padding: 0;
  }
  .popup .content .header .title {
    width: 192px;
    height: 67px;
    margin: 0 0 0 24px;
  }
}
@media (max-width: 641px) and (max-width: 460px) {
  .popup .content .header .title {
    width: 162px;
  }
}
@media (max-width: 641px) {
  .popup .content .header .sociallist {
    margin: 0;
    width: 100%;
    justify-content: center;
  }
  .popup .content .header .sociallist .unit {
    margin: 0 27px;
  }
}
@media (max-width: 641px) and (max-width: 400px) {
  .popup .content .header .sociallist {
    width: calc(100% - 44px);
    margin-left: 24px;
    justify-content: space-between;
  }
  .popup .content .header .sociallist .unit {
    margin: initial;
  }
}
@media (max-width: 641px) {
  .popup .content .body {
    width: 100%;
    margin: 0;
  }
  .popup .content .body .manage {
    text-align: right;
  }
  .popup .content .body .manage .unit {
    margin: 0 0 0 30px;
  }
  .popup .content .body .form {
    width: 100%;
    margin: 58px 0 0 0;
  }
}
@media (max-width: 641px) and (max-width: 410px) {
  .popup .content .body .manage {
    display: flex;
    height: 67px;
    flex-direction: column;
    justify-content: end;
  }
  .popup .content .body .manage .unit {
    margin: 0 0 0px 0;
  }
  .popup .content .body .form {
    margin: 10px 0 0 0;
  }
}
@media (max-width: 641px) {
  .popup .consolePanel {
    position: absolute;
    bottom: -75px;
    left: 0;
    padding: 0 0 31px 0;
    right: 0;
  }
}
@media (max-width: 641px) and (max-width: 500px) {
  .popup .consolePanel button {
    width: calc(100% - 44px);
  }
}

/*# sourceMappingURL=Authorization.module.css.map */
