.unit {
  display: flex;
  height: 43px;
  align-items: center;
  justify-content: space-between;
  color: #C1C1C1;
  background: #0D0D0D;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-family: 400;
  padding: 0 14px;
  box-sizing: border-box;
  background: #0D0D0D;
  margin-bottom: 5px;
}

.unit .sum {
  width: 120px;
  text-align: center;
}

.unit:nth-of-type(2n) {
  background: #070707;
}
