.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#090909), to(rgba(9, 9, 9, 0)));
  background: linear-gradient(180deg, #090909 0%, rgba(9, 9, 9, 0) 100%);
  border-radius: 5px;
  min-width: 100px;
  min-height: 100px;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.78);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.78);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 770px;
  height: 422px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup .close {
  position: absolute;
  width: 44px;
  height: 44px;
  top: -54px;
  right: -54px;
  background: url(../../../assets/Popup/icons/close-button.svg) no-repeat;
  background-size: 100%;
  border: initial;
  cursor: pointer;
}

@media (max-width: 854px) {
  .popup .close {
    right: 12px;
  }
}

.popup .content {
  position: relative;
  padding: 36px 20px 0 31px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.popup .content .text {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 13px 30px 42px 47px;
  background: #FFC632;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
}

.popup .content .text::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 14px;
  background: #000;
  border-radius: 10px;
}

.popup .consolePanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 31px 0;
}

.popup .consolePanel .error {
  display: none;
}

.popup .consolePanel button {
  position: relative;
  width: 428px;
  height: 70px;
  border: initial;
  border-radius: 5px;
  background: #FFC632;
  border: 2px #FFC632 solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}

.popup .consolePanel button.waiting {
  cursor: default;
  text-transform: initial;
  background: initial;
  border: 1px solid #6C6C6C;
  color: #6C6C6C;
  font-weight: 400;
}

.popup .consolePanel button:hover {
  color: #FFC632;
  border: 2px #FFC632 solid;
  background: rgba(9, 9, 9, 0);
}

@media (max-width: 641px) {
  .popup {
    width: 600px;
    height: 422px;
  }
  .popup .content {
    padding: 36px 16px 0 16px;
  }
  .popup .content .text {
    font-size: 20px;
    padding: 13px;
    padding-top: 36px;
  }
  .popup .consolePanel {
    position: relative;
    top: 0%;
  }
  .popup .consolePanel button {
    width: calc(100% - 32px);
  }
}
/*# sourceMappingURL=Information.module.css.map */