.navbar {
  height: 87px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: url(../../assets/Header/icons/background.svg) no-repeat;
  background-size: cover;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 16;
}

.navbar .logo {
  width: 196px;
  height: 60px;
  margin-right: 120px;
  user-select: none;
}

.navbar .profile {
  position: relative;
  display: none;
  margin-left: calc(min(13vw, 260px));
  align-items: center;
  grid-template-columns: 1fr 61px;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0 9px;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.navbar .profile .name {
  text-align: right;
  color: #fff;
}

.navbar .profile .balance {
  text-align: right;
  color: var(--active-color);
}

.navbar .profile .balance img {
  position: relative;
  height: 20px;
}

.navbar .profile .avatar {
  position: relative;
  height: 61px;
  grid-row: 1/3;
  grid-column: 2;
  border-radius: 6px;
}

@media (max-width: 1270px) {
  .navbar .profile {
    margin-left: calc(min(6vw, 260px));
  }
}

@media (max-width: 1000px) {
  .navbar .profile {
    margin-left: initial;
    font-size: 16px;
  }
  .navbar .profile .name {
    display: flex;
    align-items: end;
  }
  .navbar .profile .balance img {
    height: 12px;
  }
  .navbar .profile .avatar {
    height: 40px;
  }
}

.navbar .burger {
  display: none;
  width: 35px;
  height: 35px;
  background: url(../../assets/Header/icons/hambuger.svg) no-repeat;
  background-size: 35px 35px;
  cursor: pointer;
  position: relative;
  margin-right: 25px;
}

.navbar .burger.active {
  transform: rotate(90deg);
}

.navbar .links {
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;
  align-items: center;
}

.navbar .links > a {
  position: relative;
  color: var(--menu-link-color);
  text-decoration: none;
  user-select: none;
  font-family: Montserrat;
  font-style: normal;
}

.navbar .links > a:not(.inactive):hover {
  color: var(--active-color);
}

.navbar .links > a.active {
  color: var(--active-color) !important;
}

.navbar .links > a.inactive {
  color: var(--inactive-color) !important;
}

.navbar .links > a.language {
  display: flex;
  align-items: center;
  margin-left: 70px;
  background-color: var(--language-background-color);
  border-radius: 5px;
  padding: 0 5px;
}

.navbar .links .entrance {
  margin-left: 170px;
  background-color: transparent;
  outline: none;
  border: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  color: #FFFFFF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.navbar .links .entrance::after {
  content: '';
  background: url(../../assets/Header/icons/arrow.svg) no-repeat;
  position: absolute;
  width: 22px;
  height: 22px;
  left: -37px;
  top: 3px;
}

.navbar .links .entrance::before {
  content: '';
  background: url(../../assets/Header/icons/border.svg) no-repeat;
  position: absolute;
  width: 22px;
  height: 22px;
  left: -37px;
  top: -1px;
}

.navbar .links .entrance.exit {
  display: none;
}

.navbar .links .entrance.exit::after {
  transform: rotate(180deg);
  left: -42px;
  top: -6px;
}

.navbar .links .profile {
  display: grid;
}

@media (max-width: 1150px) {
  .navbar .logo {
    margin-right: auto;
    margin-left: 25px;
  }
  .navbar .links {
    margin-right: 25px;
  }
  .navbar .links a.language {
    margin-left: 0;
  }
  .navbar .links .entrance {
    margin-left: 40px;
  }
}

@media (max-width: 860px) {
  .navbar .logo {
    width: 10vw;
  }
  .navbar .links {
    grid-gap: 10px;
  }
}

@media (max-width: 661px) {
  .navbar {
    height: unset;
    background: inherit;
    background-size: cover;
    justify-content: space-between;
  }
  .navbar .logo {
    width: 133px;
    height: 41px;
    align-self: flex-start;
    margin: 23px 17px;
  }
  .navbar .profile {
    display: grid;
  }
}

@media (max-width: 661px) and (max-width: 340px) {
  .navbar .profile {
    grid-template-columns: 1fr;
  }
  .navbar .profile .avatar {
    display: none;
  }
}

@media (max-width: 661px) {
  .navbar .burger {
    display: unset;
  }
  .navbar .burger.active + .links {
    max-height: 600px;
  }
  .navbar .links {
    width: 100%;
    position: absolute;
    top: 0px;
    padding-top: 87px;
    left: 0;
    background: url(../../assets/Header/icons/background_mobile.svg);
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
    overflow: hidden;
    z-index: -1;
  }
  .navbar .links > a {
    padding: 18px 22px;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .navbar .links > a.language {
    margin-left: 22px;
    font-size: 30px;
    order: 1;
    align-self: center;
    margin-bottom: 18px;
  }
  .navbar .links .entrance {
    margin-left: 59px;
    font-size: 25px !important;
    margin-top: 15px;
    margin-bottom: 130px;
  }
  .navbar .links .entrance.exit {
    display: block;
  }
  .navbar .links .profile {
    display: none;
  }
}
