.footer {
    margin-top: 130px;
    width: 100%;
    background: #07060D;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 80px 0;
    @media screen and (max-width: 640px) {
        margin-top: 60px;
        padding: 40px 0;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.title {
    font-weight: 500;
    font-size: 64px;
    line-height: 130%;
    @media screen and (max-width: 640px) {
        font-size: 36px;
    }
}

.subtitle {
    margin-top: 30px;
    font-size: 36px;
    line-height: 140%;
    margin-bottom: 40px;
    @media screen and (max-width: 640px) {
        margin-top: 15px;
        font-size: 24px;
    }
}

.social {
    display: flex;
}

.link {
    font-size: 24px;
    line-height: 130%;
    margin-right: 30px;
    cursor: pointer;
    @media screen and (max-width: 640px) {
        font-size: 16px;
        margin-right: 20px;
    }
}

.body {
    margin-top: 100px;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    @media screen and (max-width: 1024px) {
        display: block;
    }
    @media screen and (max-width: 640px) {
        margin-top: 40px;
    }
}

.rights {
    white-space: nowrap;
    margin-right: 110px;
    @media screen and (max-width: 640px) {
        white-space: normal;
        margin-right: 0;
    }
}

.information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1024px) {
        margin-top: 30px;
        font-size: 20px;
        line-height: 130%;
    }
}

.documents {
    cursor: pointer;
}

.author {
    cursor: pointer;
}