.ContentList {
    position: relative;
    top: -3%;
    padding: 8% 8% 2% 8%;
    box-sizing: border-box;
    background: #000000;
    overflow-x: hidden;
    overflow-y: clip;
    &::after {
        content: '';
        top: -6%;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url(../../assets/ContentScreen/icons/back.svg);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: top;
        z-index: 0;
    }
    @media (max-width: 768px) {
        @media (max-height: 850px) {
            padding: 0;
            top: 0px;
            margin-top: 30%;
        }
    }
}