.item {
  position: relative;
  display: inline-block;
  width: 115px;
  margin-right: 5px;
}

.item::after {
  content: "";
  padding-top: 90%;
  display: block;
}

.item:last-child {
  margin-right: 0px;
}

.item .content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.item:nth-child(4n+3) .bodyBorder {
  background-image: url("../../assets/Roulete/icons/border-blue.svg");
}

.item:nth-child(4n+3) .headLight {
  background: var(--blue-color);
}

.item:nth-child(4n+3) .headLight::after {
  -webkit-box-shadow: 0 0px 12px var(--blue-color);
          box-shadow: 0 0px 12px var(--blue-color);
}

.item:nth-child(4n+3) .lowerLight {
  background: var(--blue-color);
}

.item:nth-child(4n+3) .lowerLight::after {
  -webkit-box-shadow: 0 0px 12px var(--blue-color);
          box-shadow: 0 0px 12px var(--blue-color);
}

.item:nth-child(4n+3) svg path {
  fill: #46C8FF;
}

.item:nth-child(4n+1) .bodyBorder {
  background-image: url(../../assets/Roulete/icons/border-red.svg);
}

.item:nth-child(4n+1) .headLight {
  background: var(--red-color);
}

.item:nth-child(4n+1) .headLight::after {
  -webkit-box-shadow: 0 0px 12px var(--red-color);
          box-shadow: 0 0px 12px var(--red-color);
}

.item:nth-child(4n+1) .lowerLight {
  background: var(--red-color);
}

.item:nth-child(4n+1) .lowerLight::after {
  -webkit-box-shadow: 0 0px 12px var(--red-color);
          box-shadow: 0 0px 12px var(--red-color);
}

.item:nth-child(4n+1) svg path {
  fill: #FF4646;
}

.item:nth-child(4n+2) .bodyBorder {
  background-image: url(../../assets/Roulete/icons/border-yellow.svg);
}

.item:nth-child(4n+2) .headLight {
  background: var(--yellow-color);
}

.item:nth-child(4n+2) .headLight::after {
  -webkit-box-shadow: 0 0px 12px var(--yellow-color);
          box-shadow: 0 0px 12px var(--yellow-color);
}

.item:nth-child(4n+2) .lowerLight {
  background: var(--yellow-color);
}

.item:nth-child(4n+2) .lowerLight::after {
  -webkit-box-shadow: 0 0px 12px var(--yellow-color);
          box-shadow: 0 0px 12px var(--yellow-color);
}

.item:nth-child(4n+2) svg path {
  fill: #FF9446;
}

.item:nth-child(4n+4) .bodyBorder {
  background-image: url(../../assets/Roulete/icons/border-green.svg);
}

.item:nth-child(4n+4) .headLight {
  background: var(--green-color);
}

.item:nth-child(4n+4) .headLight::after {
  -webkit-box-shadow: 0 0px 12px var(--green-color);
          box-shadow: 0 0px 12px var(--green-color);
}

.item:nth-child(4n+4) .lowerLight {
  background: var(--green-color);
}

.item:nth-child(4n+4) .lowerLight::after {
  -webkit-box-shadow: 0 0px 12px var(--green-color);
          box-shadow: 0 0px 12px var(--green-color);
}

.item:nth-child(4n+4) svg path {
  fill: #6BFF46;
}

.item .body {
  padding: 10%;
  z-index: 10;
}

.item .body img {
  width: 100%;
}

.item figure {
  margin: 0;
  padding: 0;
}

.item .background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background: initial;
}

.item .background .bodyBorder {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  z-index: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.item .background .headLight {
  position: absolute;
  width: 39%;
  height: 7%;
  top: 2.6%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 100px;
  z-index: 4;
}

.item .background .headLight::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.item .background .lowerLight {
  position: absolute;
  width: 55%;
  height: 2%;
  bottom: 1%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 100px;
  z-index: 4;
}

.item .background .lowerLight::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.item .background svg {
  position: absolute;
  width: 87%;
  height: 52%;
  bottom: -17%;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.7;
}

@media (max-width: 641px) {
  .item {
    width: 86px;
    height: 78px;
  }
}

.item.openCase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(20% - 0.7vw);
          flex: 0 0 calc(20% - 0.7vw);
  margin-right: 0.7vw;
  z-index: 5;
}

.item.openCase .lowerLight {
  bottom: 0;
}
/*# sourceMappingURL=Item.module.css.map */