@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap');
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #07060D;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: white;
}

input,
button {
    outline: none;
    border: none;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    max-width: 1814px;
    height: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 1814px) {
    .container {
        padding: 0 56px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 30px;
    }
}

.app {
    padding-top: 86px;
}